@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin grid-layout($columns, $gap) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
  }
  
  @mixin button-style {
    background-color: $color-accent;
    color: $color-secondary;
    border: none;
    padding: 10px 20px;
    border-radius: $border-radius;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    
    &:hover {
      background-color: darken($color-accent, 15%);
    }
  }
  