// Colors
$color-primary: #000; // Black for text
$color-secondary: #fff; // White for backgrounds
$color-accent: #e62429; // Red for buttons and links
$color-background: #f7f7f7; // Off-white for page background

// Font
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Breakpoints
$breakpoint-mobile: 768px;

// Other
$grid-gap: 20px;
$border-radius: 10px;
